

body {
  background-color: hsl(0, 0%, 86%);
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  max-width: 800px; 
  background-color: white;
  padding: 50px; 
  border-radius: 40px;
  border-end-end-radius: 30%;
  margin-top: 50px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-group {
  display: flex;
  gap: 20px;  
  margin-bottom: 50px;
  justify-content: flex-start;
}

.input-field {
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 10px;
  padding: 15px;
  width: 100px; 
  border-radius: 10px;
  font-size: 22px;  
  font-weight: 700;
  border: 2px solid transparent;
  border-bottom: 2px solid hsl(259, 100%, 65%);
  background-color: #f7f7f7;
}

input:focus {
  outline: none;
  border-color: hsl(259, 100%, 65%);
}

label {
  font-weight: bold;
  color: hsl(0, 1%, 44%);
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
}

button {
  background-color: rgb(119, 48, 185);
  border: none;
  border-radius: 100%;
  padding: 20px;
  cursor: pointer;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button img {
  width: 24px;
  height: 24px;
}
button:hover {
background-color: black;}



.result {
  border-top: 1px solid #000;
  margin-top: -30px;
  width: 100%;
  text-align: left;  
}

.result p {
  font-size: 60px; 
  font-weight: 800;
  line-height: 60px; 
  margin: 0;
  padding: 5px 0;
}

.result span {
  color: hsl(259, 100%, 65%);
}

@media only screen and (max-width: 600px) {
  .result p {
      font-size: 30px;
  }
  .input-group {
      display: flex;
  }
}
